<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.hotel.mapper.DinnertableMapper" >
  <resultMap id="BaseResultMap" type="com.ly.hotel.po.Dinnertable" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tableName" property="tablename" jdbcType="VARCHAR" />
    <result column="tableStatus" property="tablestatus" jdbcType="INTEGER" />
    <result column="orderDate" property="orderdate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tableName, tableStatus, orderDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ly.hotel.po.DinnertableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dinnertable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dinnertable
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dinnertable
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ly.hotel.po.DinnertableExample" >
    delete from dinnertable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ly.hotel.po.Dinnertable" >
    insert into dinnertable (id, tableName, tableStatus, 
      orderDate)
    values (#{id,jdbcType=INTEGER}, #{tablename,jdbcType=VARCHAR}, #{tablestatus,jdbcType=INTEGER}, 
      #{orderdate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ly.hotel.po.Dinnertable" >
    insert into dinnertable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tablename != null" >
        tableName,
      </if>
      <if test="tablestatus != null" >
        tableStatus,
      </if>
      <if test="orderdate != null" >
        orderDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="tablestatus != null" >
        #{tablestatus,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null" >
        #{orderdate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ly.hotel.po.DinnertableExample" resultType="java.lang.Integer" >
    select count(*) from dinnertable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dinnertable
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tablename != null" >
        tableName = #{record.tablename,jdbcType=VARCHAR},
      </if>
      <if test="record.tablestatus != null" >
        tableStatus = #{record.tablestatus,jdbcType=INTEGER},
      </if>
      <if test="record.orderdate != null" >
        orderDate = #{record.orderdate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dinnertable
    set id = #{record.id,jdbcType=INTEGER},
      tableName = #{record.tablename,jdbcType=VARCHAR},
      tableStatus = #{record.tablestatus,jdbcType=INTEGER},
      orderDate = #{record.orderdate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.hotel.po.Dinnertable" >
    update dinnertable
    <set >
      <if test="tablename != null" >
        tableName = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="tablestatus != null" >
        tableStatus = #{tablestatus,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null" >
        orderDate = #{orderdate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.hotel.po.Dinnertable" >
    update dinnertable
    set tableName = #{tablename,jdbcType=VARCHAR},
      tableStatus = #{tablestatus,jdbcType=INTEGER},
      orderDate = #{orderdate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>